a.blog_link {
  float: right;
}
div.container {
  display: flex;
  align-items: flex-start;
}
div.hero {
  margin-left: 30px;
  margin-right: 30px;
}
h1#title {
  font-weight: bold;
  background: linear-gradient(90deg, #0a0, #0b0, #0c0, #0a0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
}
.mpi-sws-logo {
  width: 300px; float:right; position: absolute; right: 15px; top: 5px;
}
.mpi-sws-logo img {
  width: 300px;
}
span.name-span {
  font-weight: bold;
  font-size: 1.6em;
}
.card.header > p {
  margin-bottom: 10px;
}
.card.header {
  padding-top: 0px;
  padding-bottom: 20px;
}
.horizontal-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: -10px;
}

@media screen and (min-width: 880px) {
  div.hero > div.main {
    width: 800px;
  }
  div.base_header {
    width: 800px;
  }
}
@media screen and (max-width: 879px) {
  div.container {
    flex-direction: column;
  }
  div.hero, div.posts {
    margin-left: 30px;
    margin-right: 30px;
    align-self: stretch;
    max-width: none;
  }
  div.base_header {
  }
  .mpi-sws-logo {
    float: none;
    width: 200px;
    position: inherit;
    margin: 0 auto;
  }
  .mpi-sws-logo > img {
    width: 200px;
  }
}
@media screen and (max-width: 660px) {
}

p {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}
span.email {
  color: #555;
}
p:first-child {
  margin-top: 0px;
  
}
div.relative {
  position: relative;
}
.card-name {
  margin-top: 0;
}
p.text, .text > p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.excerpt {
  margin-top: 6pt;
  margin-bottom: 6pt;
}
div.attribution {
  font-size: 0.75em;
  border-bottom: none;
}

ul.blog > li.post > div.title {
  font-weight: bold;
}

div.main.activity {
  display: none;
}

div.main > h3 {
  margin-top: 20px;
  padding-bottom: 10px;
}

div.main > h3:first-child {
  margin-top: 0px;
}

div.main > h3.small-h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 100%;
}

li {
  list-style-type: none;
}

ul.resume > li {
  margin-top: 20px;
}

ul.resume > li:first-child {
  margin-top: 0px;
}

.resume-location {
  font-style: italic;
}

span.comment {
  font-size: 80%;
}

.paper-title {
  font-weight: bold;
}

ul.ul-service > li {
  line-height: 1.8em;
}

ul.awards > li:first-child {
  margin-top: 0px;
}

ul.awards > li {
  margin-top: 5px;
}

span.highlight, a.highlight {
  font-weight: bold;
  background: linear-gradient(90deg, #260, #060, #070, #062);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

span.highlight-green, a.highlight-green {
  font-weight: bold;
  background: linear-gradient(90deg, #0a0, #0b0, #0c0, #0a0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

span.highlight-2, a.highlight-2 {
  font-weight: bold;
  background: linear-gradient(90deg, #006, #226, #006);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

.ad {
  border: 1px solid black;
  padding: 4px;
  margin-left: -4px;
  background-color: #ffff88;
}

.ad-2 {
  border: 1px solid black;
  padding: 4px;
  margin-left: -4px;
  background-color: #C0D4E6;
}

img.mpi-photo {
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 170px;
}

p.more-info {
  font-size: 200%;
}

h2 {
  margin-bottom: 20px;
}

div.members {
  display: flex;
  flex-wrap: wrap;
}

div.member-card {
  padding-right: 10px;
  padding-bottom: 10px;
  width: 180px;
}

div.member-card > img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  object-position: center;
}